// background colors
$primary-bg-boxes: rgb(240, 240, 240);
$bg-body: rgb(240, 239, 239);
$bg-container: rgb(255, 255, 255);
$bg-tag: rgba(126, 115, 18, 0.4);
$bg-black: rgb(0, 0, 0);

// text colors
$primary-text: rgb(0, 0, 0);
$secondary-text: rgb(63, 61, 61);
$profession-text: rgb(92, 92, 92);
$light-text: rgb(255, 255, 255);
$secondary-light-text: rgb(235, 249, 242);
$tag-text: rgb(221, 241, 99);
$green-text: rgb(20, 144, 99);

// bg & some elements color
$green: rgb(40, 217, 121);
